.humidityContainer,
.windDirectionContainer,
.bannerContainer,
.webcamImage {
  box-shadow: 5px 5px 16px rgba(68, 68, 68, 0.2);
  transition: 0.5s ease;
}

.humidityContainer:hover,
.windDirectionContainer:hover,
.bannerContainer:hover,
.webcamImage:hover {
  transition: 0.5s ease;
  box-shadow: 5px 5px 16px rgba(68, 68, 68, 0.5);
}
