.bannerContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.topContainer,
.bottomContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.temperatureContainer,
.weatherContainer,
.rainfallContainer,
.windContainer {
  display: flex;
  align-items: center;
}

.currentWeatherIcon {
  width: 42px;
}

.icon {
  width: 24px;
}
